{% extends "detector/base.html" %}   

{% block content %}

    <div class="prediction-container">
        {% comment %} displaying the user image / later on displaying image with bbox{% endcomment %}
    <div class="user-image">
            <img src="data:image/png;base64,{{ image_data }}" alt="Image with Bounding Boxes">
    </div>
    {% comment %} displaying the predictions {% endcomment %}
    <div class="predictions-main">
            {% if predictions %}
                {% for class,prob in predictions %}
                    <div class="predictions">
                        <div class="classes">{{class}}</div>
                        <div class="prob">{{prob}}</div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="predictions"> No Monument Detected</div>
            {% endif %}
            
        </div>
    <form action="/" method="GET">
            <input type="submit" value="Back">
        </form>
    </div>

{% endblock %}

